h1 #{title}

br
br
p(align="center") Instituto de Estudios Regionales Universidad de Antioquia
p(align="center") Ciudadela Universitaria Medellín, Bloque 9 - 243 - Teléfono: 2195699
p(align="center") 
  a(href="mailto:horizontes2030@gmail.com") horizontes2030@gmail.com
  br 
  a(href="mailto:horizontes2030@iner.udea.edu.co") horizontes2030@iner.udea.edu.co
