h1 Documentos
br
p
  h1 Documentos base para el primer taller Horizontes 2030
  a(href="/documentos/Doc-ComponenteEcon%c3%b3mico-PrimerTaller.pdf") Componente Económico
  br
  a(href="/documentos/Doc-ComponenteInstitucional-PrimerTaller.pdf") Componente Institucional
  br
  a(href="/documentos/Doc-ComponenteSocial-PrimerTaller.pdf") Componente Social
br
p
  h1 Documentos base para el segundo taller Horizontes 2030
  a(href="/documentos/DocFinal-CompEcon%c3%b3mico_TallerNov10.pdf") Componente Económico
  br
  a(href="/documentos/DocFinal-CompInstitucional-TallerNov10.pdf") Componente Institucional
  br
  a(href="/documentos/DocFinal-CompSocial-TallerNov10.pdf") Componente Social