h1 Documentos
br
p
  h2 Documentos base para el primer taller Horizontes 2030
  ul
    li.docs
      a( href="/documentos/Doc-ComponenteEcon%c3%b3mico-PrimerTaller.pdf", title="Componente Económico")
        img( src="/images/icono-pdf.png") 
        Componente Económico  
    li.docs
      a( href="/documentos/Doc-ComponenteInstitucional-PrimerTaller.pdf", title="Componente Institucional") 
        img( src="/images/icono-pdf.png")
        Componente Institucional
    li.docs
      a( href="/documentos/Doc-ComponenteSocial-PrimerTaller.pdf", title="Componente Social") 
        img( src="/images/icono-pdf.png")
        Componente Social
br
p
  h2 Documentos base para el segundo taller Horizontes 2030
  ul
    li.docs
      a(href="/documentos/DocFinal-CompEcon%c3%b3mico_TallerNov10.pdf",type="application/pdf",title="Componente Económico")
        img(src="/images/icono-pdf.png")
        Componente Económico
    li.docs
      a(href="/documentos/DocFinal-CompInstitucional-TallerNov10.pdf", title="Componente Institucional")
        img(src="/images/icono-pdf.png")
        Componente Institucional
    li.docs
      a(href="/documentos/DocFinal-CompSocial-TallerNov10.pdf", title="Componente Social")
        img(src="/images/icono-pdf.png")
        Componente Social
br
p
  h2 Boletines
  ul
    li.docs
        a(href="/documentos/Boletín Horizontes 2030 No. 1.pdf",title="Boletín Horizontes 2030 No. 1")
          img(src="/images/icono-pdf.png")
          \Boletín Horizontes 2030 No. 1
    ul
      li.docs
        a(href="/documentos/Boletín Horizontes 2030 No. 2.pdf",title="Boletín Horizontes 2030 No. 2")
          img(src="/images/icono-pdf.png")
          \Boletín Horizontes 2030 No. 2
    ul
      li.docs
        a(href="/documentos/Boletín Horizontes 2030 No. 3.pdf",title="Boletín Horizontes 2030 No. 3")
          img(src="/images/icono-pdf.png") 
          \Boletín Horizontes 2030 No. 3


