h1 HORIZONTES 2030 hace presencia en 26 municipios de Antioquia:
br
h1 En el Valle de Aburrá
p Barbosa, Copacabana, Girardota, Bello, Medellín, Itagüí, Envigado, Sabaneta, Caldas y la Estrella.
br
h2 Occidente Antioqueño 
p Santafé de Antioquia, Sopetrán, San Jerónimo, Olaya y Ebéjico.
br
h3 Oriente de Antioquia 
p Guarne, Marinilla, Rionegro, El Santuario, San Vicente Ferrer, La Unión, La Ceja del Tambo, El Carmen de Viboral, El Retiro, El Peñol y Guatapé.