h1 #{title}

p
  br
  h2 Primeros talleres en las regiones
  a.grouped_elements(href="/images/Fotos/foto1.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto1.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto2.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto2.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto3.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto3.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto4.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto4.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto5.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto6.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto6.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto6.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto7.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto7.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto8.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto8.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto9.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto9.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto10.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto10.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto11.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto11.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto12.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto12.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto13.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto13.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto14.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto14.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto15.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto15.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto16.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto16.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto17.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto17.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto18.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto18.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto19.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto19.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto20.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto20.JPG", width=130, heigth=98)
  
  a.grouped_elements(href="/images/Fotos/foto21.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto21.JPG", width=130, heigth=98)

  a.grouped_elements(href="/images/Fotos/foto22.JPG",rel="talleres1")
    img(src="/images/Fotos/thumbnail/w_foto22.JPG", width=130, heigth=98)
