h1 Una articulación de municipios del Oriente, Valle de Aburrá y Occidente de Antioquia
br
p HORIZONTES 2030 es una iniciativa del Municipio de Medellín a través del Departamento Administrativo de Planeación y la Universidad de Antioquia, con el Instituto de Estudios Regionales - INER, la que busca una mayor articulación y mejor planeación entre varios municipios del Oriente, Valle de Aburrá y Occidente de Antioquia hacia un desarrollo equitativo e incluyente al año 2030.
br
p Esta propuesta se genera desde el Plan de Desarrollo “Medellín es Solidaria y Competitiva 2008-2011” y está contenida en el postulado de lograr una ciudad con proyección regional y global, que busca la integración regional con los territorios de la región central de Antioquia.
br
p Desde este punto de vista, se reconoce la necesidad de comprender las dinámicas; articular y concertar políticas, programas y proyectos, para direccionar estratégicamente hacia el 2030 la nueva realidad territorial que se está configurando, siguiendo postulados y acuerdos pactados socialmente en los territorios, y que están contenidos en diversos procesos como PLANEA, PLANEO y Congresos de Ciudad.

