!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/threecolumn.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    div.container
      div.header
        img(src='/images/fondoCorto.png')
      div.navigation
        nav
          ul
            li
              a(href="/") Horizontes 2030
            li
              a(href="/EscenarioTerritorial") Escenario Territorial
            li
              a(href="/Resultados") Resultados
      div.content-container1
        div.section-navigation
          nav
            ul
              li
                a(href="/Documentos") Documentos
              li
                a(href="/Fotografias") Fotografías
              li
                a(href="/Mapas") Mapas
              li
                a(href="/Contactenos") Contáctenos
        div.content!=body
        div.aside
          h3 Objetivo General
          p Formular las líneas de direccionamiento estratégico al 2030 en las dimensiones social, económica e institucional, para el desarrollo articulado de varios municipios del Oriente, Valle de Aburrá y Occidente de Antioquia, de manera concertada con las autoridades, las instituciones y las comunidades.
        div.footer
          img(src='/images/tiraLogos.jpg')
