h1 Lineamientos específicos
div.linDet
  div Erradicar el analfabetismo al 2015 como una condición básica de equidad e inclusión.
    div.partReg
      h1 Particularidades subregionales
      ul
        li Priorizar el programa de alfabetización en zonas rurales y en la subregión de Occidente
        li Comprometer a los sectores y actores regionales, como promotores y veedores del cumplimiento de metas estrictas en el programa de alfabetización.

  div Crear un Sistema Departamental de Educación que articule las acciones de las escalas regional y local, para mejorar calidad, cobertura y pertinencia de la educación. Debe además, implementar programas sectoriales para las poblaciones más pobres y en situación de vulnerabilidad. 
    div.partReg
      h1 Particularidades subregionales
      ul
        li Implementar programas de regionalización pertinentes y de formación docente de alto nivel, de acuerdo a las necesidades y potencialidades de cada localidad o subregión.
        li Evaluar con los sectores y actores del ámbito territorial en HORIZONTES 2030, los avances logrados en el programa de regionalización pertinente y el programa de formación docente, y trazar los correctivos necesarios en cada localidad o subregión.
        li Crear un Subsistema de Educación Superior que propenda por el desarrollo armónico de la formación técnica, tecnológica y universitaria, y fomente alianzas estratégicas para optimizar el uso de recursos físicos y económicos y la presencia formadora de docentes e investigadores. Para la subregión de Occidente se requiere la intensificación de programas técnicos y tecnológicos relacionados con el turismo, servicios logísticos y producción frutícola, mientras Oriente necesita mayor implementación de programas técnicos, tecnológicos y de pregrado, orientados a la producción industrial, hortofrutícola, turismo y medio ambiente. 
        li Fortalecer el aprendizaje de una segunda lengua en Oriente, Valle de Aburrá y Occidente. 
        li El ajuste de las políticas de mejoramiento de la educación, debe ser monitoreado a través de un sistema regional de indicadores de competitividad y equidad.
        li El ajuste de las políticas de mejoramiento de la educación, debe ser monitoreado a través de un sistema regional de indicadores de competitividad y equidad.

  div Emprender acciones de los actores del Sistema Departamental de Salud, con apoyo de la dirigencia pública y privada, para incidir en las modificaciones legales que coadyuven a que el sistema garantice el derecho a la salud de todos los antioqueños, y en el mejoramiento y la calidad del sistema.
    div.partReg
      h1 Particularidades subregionales
      ul
        li Para las tres subregiones, crear al 2020, fuentes de empleo y programas de formalización del empleo, que garanticen el acceso universal a los servicios de salud con acciones articuladas entre el sistema educativo y económico como complemento y en concordancia con el Sistema General de Servicios de Salud-SGSS.
        li Impulsar en Oriente y Occidente estrategias como la Red de Servicios en Salud existente en el Valle de Aburrá.
        li Mejorar las condiciones de salud de la población rural y la identificada en cada localidad como más vulnerable. Para Occidente se requiere contar con una unidad hospitalaria que atienda varios niveles de complejidad de toda la subregión, sin tener que remitir a Medellín la mayoría de casos.
        li Crear al 2015 un modelo de atención integral en salud, (estrategia de prevención y promoción en salud) especialmente para la población rural de Occidente y Oriente, basado en la atención primaria en salud, fortaleciendo promoción, autocuidado, hábitos de vida saludable educación sexual y reproductiva, salud infantil, familiar y comunitaria y la prevención de la enfermedad a nivel del individuo y familia. 
        li Adoptar la intersectorialidad administrativa de los municipios, dados los bajos recursos de algunos, especialmente en Occidente y el municipio de San Vicente en el Oriente.
        li Realizar mejoramiento de la infraestructura existente y adelantar la implementación de redes integradas de servicios de salud que articulen lo público y lo privado, en Occidente y Oriente.

  div Implementar un programa de vivienda, hábitat y habitabilidad, que esté articulado sobre la filosofía del derecho de moradores.
    div.partReg
      h1 Particularidades subregionales
      ul
        li En Oriente, disminuir el déficit cuantitativo en San Vicente Ferrer y El Peñol y el déficit cualitativo en La Ceja del Tambo y Guarne
        li Para Occidente, intensificar programas para eliminar el déficit cualitativo en Santa Fe de Antioquia y San Jerónimo y el cualitativo en Ebéjico y Santa Fe de Antioquia.
        li Para el Valle de Aburrá reducir el déficit cuantitativo en Barbosa y Girardota y el déficit cualitativo en La Estrella y Barbosa
        li En Oriente, controlando la expansión en relocalizaciones industriales, urbanismo, fincas de recreo y viviendas dormitorio; y en Occidente evitando la expansión acelerada de fincas de recreo.
        li Elaborar planes de gestión del riesgo, espacio público, equipamiento comunitario y reglamentaciones de planeación en las tres subregiones, de manera participativa.
        li En Occidente, adelantar la protección, mantenimiento y recuperación del Centro Histórico y arquitectónico de Santa Fe de Antioquia y del Puente de Occidente; asi como planes de conservación y restauración para Olaya, Sucre, San Jerónimo, Sopetrán y Ebéjico.
        li En Oriente, la protección, mantenimiento y recuperación de los centros históricos y  arquitectónicos de sus municipios, así como elaborar e implementar planes de conservación y restauración para los sitios culturales e históricos.

  div Configuración de un mercado de trabajo formal, con buenos ingresos y altas calidades, articulados a un proyecto de educación para el desarrollo de la ciencia y la tecnología.
    div.partReg
      h1 Particularidades subregionales
      ul
        li Para Occidente, la política de circuitos turísticos y producción agrícola, se debe articular a una política de trabajo decente para la subregión;  al igual que en Oriente el Distrito Agrario, los servicios ambientales y la industria. 
        li En el Valle de Aburrá la asociatividad empresarial debe motivar a los empresarios a potenciarse sobre la base de trabajo decente y a diseñar políticas de regulación para los sistemas de cooperativas de trabajo asociado y de maquila, que permitan transformar los contratos comerciales, en contratos de carácter laboral.
