h1 Lineamientos específicos
div.linDet
  div Erradicar el analfabetismo al 2015 como una condición básica de equidad e inclusión.
  div Crear un Sistema Departamental de Educación que articule las acciones de las escalas regional y local, para mejorar calidad, cobertura y pertinencia de la educación. Debe además, implementar programas sectoriales para las poblaciones más pobres y en situación de vulnerabilidad. 
  div Emprender acciones de los actores del Sistema Departamental de Salud, con apoyo de la dirigencia pública y privada, para incidir en las modificaciones legales que coadyuven a que el sistema garantice el derecho a la salud de todos los antioqueños, y en el mejoramiento y la calidad del sistema.
  div Implementar un programa de vivienda, hábitat y habitabilidad, que esté articulado sobre la filosofía del derecho de moradores.
  div Configuración de un mercado de trabajo formal, con buenos ingresos y altas calidades, articulados a un proyecto de educación para el desarrollo de la ciencia y la tecnología.
