h1 Lineamientos específicos
div.linDet
  div Construir acuerdos de articulación con los Departamentos vecinos, que permitan concretar las físicas e históricas relaciones de Antioquia con el Caribe, Eje Cafetero, Chocó, Cuenca del Magdalena y el Altiplano Cundiboyacence; y permitan además, nuevas relaciones con Panamá, Centro América continental e insular y Asia-Pacífico.
  div Coordinar las respuestas institucionales departamentales y supramunicipales frente al gobierno nacional a través de la Comisión Tripartita, el Consejo de Competitividad y los Comités de Ordenamiento Territorial del Departamento.
  div Avanzar en convenios y cooperación nacional e Internacional para que Antioquia sea el Departamento líder a nivel Latinoamericano en ciencia, tecnología e innovación, aprovechando las potencialidades de sus territorios.
