h1 Lineamientos específicos
div.linDet
  div Consolidar las organizaciones de la sociedad civil y la institucionalidad pública Municipal, para asegurar que las brechas entre la planificación estratégica territorial y las agendas sociales, sean mínimas y se acompañen los procesos de desarrollo local, con una institucionalidad capaz de orientarlos a través del tiempo, sobrepasando el ámbito estrictamente municipal. 
    div.partReg
      h1 Particularidades subregionales
      ul
        li Conformar los Sistemas Regionales de Planeación Subregionales, para tener presencia en el Consejo Departamental de Planeación y en el Consejo Nacional de Planeación, vía el Consejo Departamental.
        li Promover, capacitar y renovar los Consejos Territoriales de Planeación en los Municipios

  div Garantizar que la planificación del territorio incida en los profundos diferenciales de la renta de la tierra presentes en el territorio de Oriente, Aburrá y Occidente.
    div.partReg
      h1 Particularidades subregionales
      ul
        li En Oriente, crear la Comisión Subregional de Ordenamiento Territorial, con base en el Sistema Subregional de Planeación-SRP y con el apoyo técnico de la Gobernación de Antioquia.
        li En el Valle de Aburrá crear la Comisión Subregional de Ordenamiento Territorial, con referencia a la Secretaria Técnica del Consejo Metropolitano y con el apoyo técnico de la Gobernación de Antioquia.
        li En Occidente crear la Comisión Subregional de Ordenamiento Territorial, con el apoyo técnico de la Gobernación de Antioquia.
        li En el caso fiscal de Occidente, mejorar la capacidad extractiva de los municipios, de manera que compartan los beneficios de la mayor actividad inmobiliaria y de los servicios turísticos, para mejorar las condiciones de vida de la población local, que se ha visto segregada espacialmente por las fincas de recreo.
        li En el caso fiscal de Oriente, mejorar la capacidad extractiva de los municipios y volcarla a las políticas sociales y al mejoramiento de las capacidades de planificación y gestión del territorio, para generar efectivos controles a la actividad inmobiliaria desordenada.
        li En el caso fiscal del Valle de Aburrá, los municipios deberán discutir, en sus Concejos Municipales, la posibilidad de transferir parte de su recaudo de impuesto predial al Área Metropolitana, como una acción relacionada con la posibilidad de construir bancos de tierras y realizar labores de compensación interregional e intra regional.

  div Promover un proceso de gestión del desarrollo territorial, a través de acuerdos públicos, privados y comunitarios que posibiliten la articulación incluyente de los 26 Municipios.
    div.partReg
      h1 Particularidades subregionales
      ul
        li Diseñar agendas público-privadas y comunitarias subregionales.

  div Estructurar POT supramunicipales con un impacto en configuraciones territoriales para la equidad, la sostenibilidad y la inclusión.
    div.partReg
      h1 Particularidades subregionales
      ul
        li Gestionar ante instancias subregionales y Departamentales la elaboración de POT articulados, de alcance supramunicipal, con significación territorial que el Departamento defina con las comunidades.

  div Propiciar y coadyuvar para la creación e impulso de espacios e instancias de autonomía, descentralización y desconcentración que favorezcan las subregiones, teniendo en cuenta propuestas de autogestión e iniciativas administrativas, planificadoras  y participativas.
    div.partReg
      h1 Particularidades subregionales
      ul
        li Reconocer las diferentes estrategias de configuración subregional en proceso en las subregiones de estudio, para potenciar a partir de allí las articulaciones que requiere el modelo de desarrollo propuesto, apoyándose en los planes y propuestas realizadas.
        li Implementar los Centros Subregionales de Servicios a la Ciudadanía, basados en las condiciones y necesidades particulares de los diferentes territorios que hacen parte del mismo.
