h1 Lineamientos específicos
div.linDet
  div Estructurar un sistema educativo regional basado en ciclos propedéuticos, que logre la articulación en los niveles de educación, para obtener titulaciones intermedias desde la formación para el trabajo y el desarrollo humano, hasta la formación posgradual, basadas en el respeto, la confianza, solidaridad y la asociatividad.
  div Implementar en el sistema educativo un proceso permanente de formación ciudadana, donde se promueva la cultura de la legalidad, el respeto, la solidaridad, la corresponsabilidad y la asociatividad.
  div Generar una iniciativa regional de "Comercio Justo y Consumo Responsable", para la adquisición de bienes y servicios que sean socialmente sostenibles y ambientalmente sustentables.
  div Construir el capital social requerido para la implementación de los lineamientos 2030.

