h1 Lineamientos específicos
div.linDet
  div Garantizar el acceso de agua potable para todos los Municipios del Departamento. 
  div Implementar planes de gerencia y evaluación del riesgo y la resiliencia climática,es decir, evaluar y realizar acciones preventivas para configurar ecosistemas capaces de soportar los extremos climáticos. Asegurar la diversidad y la integralidad de ecosistemas y de las comunidades y sus organizaciones para el desarrollo comunitario.
  div Establecer la estrategia regional de seguridad alimentaria, que permita, en todo momento garantizar a los habitantes del territorio, a pesar de las crisis mundiales, contar con alimentos básicos a precios razonables. Esta estrategia se basará en las potencialidades del territorio, la variedad de climas y los conocimientos ancestrales de producción sostenible. Establecer las tierras cultivables como activo estratégico nacional no renovable.
  div Diseñar y gestionar una agenda territorial para la defensa de la biodiversidad y la sostenibilidad, que fortalezca la identidad y el sentido de pertenencia de las comunidades por el territorio.
  div 
