h1 Lineamientos específicos
div.linDet
  div Impulsar un modelo de gestión de la Red de Instituciones que descentralice la planificación, que construya escenarios de prestación de servicios del nivel subregional, que posibilite el acceso y la cercanía de los ciudadanos con la institucionalidad. (Ver Anexo N. 4, Esquema de relacionamiento de la Red de Instituciones: Autoridades e Instancias).   
  div Reconfiguración de las autoridades e instancias de planificación, sobre la cooperación basada en objetivos de disminución de brechas y en el cumplimiento de las metas de los Objetivos del Milenio.
  div Generar a partir de la Comisión Tripartita y el Consejo de Competitividad, una estrategia de formalización masiva de actividades económicas.
  div Impulsar desde las instancias departamentales la discusión nacional para transformar el modelo de elección de los organismos de control fiscal y de las personerías.