h1 Lineamientos específicos
div.linDet
  div Garantizar el acceso de agua potable para todos los Municipios del Departamento. 
   div.partReg
      h1 Particularidades subregionales
      ul
        li Crear cooperativas supramunicipales con apadrinamiento de cooperativas regionales en Oriente, con cofinanciación del Departamento y apoyo de EPM, ISA e ISAGEN, como parte de la responsabilidad social de estas empresas.
        li Crear cooperativas supramunicipales con apadrinamiento de cooperativas regionales en Oriente, con cofinanciación del Departamento y apoyo de EPM, ISA e ISAGEN, como parte de la responsabilidad social de estas empresas.

  div Implementar planes de gerencia y evaluación del riesgo y la resiliencia climática,es decir, evaluar y realizar acciones preventivas para configurar ecosistemas capaces de soportar los extremos climáticos. Asegurar la diversidad y la integralidad de ecosistemas y de las comunidades y sus organizaciones para el desarrollo comunitario.
   div.partReg
      h1 Particularidades subregionales
      ul
        li En el Occidente, los planes estarán asociados a construir infraestructuras para evitar la falta de agua en épocas de temperaturas altas.
        li En el Oriente, la conservación de cabeceras de cuencas, construcción de parques lineales y el mantenimiento, conservación y protección del retiro de fuentes y nacimientos de agua.
        li En Medellín, parques agrícolas habitados y la constitución y conservación de parques ecológicos, con familias guardabosques  para evitar la construcción en zonas de borde.
        li En las tres subregiones, conformación de reservas forestales como barreras naturales que impidan la conurbación y se haga plantación de bosques para equilibrar espacio construido y libre.

  div Establecer la estrategia regional de seguridad alimentaria, que permita, en todo momento garantizar a los habitantes del territorio, a pesar de las crisis mundiales, contar con alimentos básicos a precios razonables. Esta estrategia se basará en las potencialidades del territorio, la variedad de climas y los conocimientos ancestrales de producción sostenible. Establecer las tierras cultivables como activo estratégico nacional no renovable.
   div.partReg
      h1 Particularidades subregionales
      ul
        li Los Centros de la fruta en el Occidente y de la hortaliza en el Oriente, serán los planes piloto de la implementación de los Planes Rurales Integrales-PRI, en el marco de los distritos agrarios.
        li Construir Centros de Desarrollo Rural-CDR en el Aburrá Norte, Aburrá Sur-occidental y Aburrá-Sur-oriental, en el marco de Parques Agrícolas Habitados, en los que se combine la conservación del paisaje y habitante rural y la producción de hortalizas y granos para el consumo de los habitantes del Valle de Aburrá.

  div Diseñar y gestionar una agenda territorial para la defensa de la biodiversidad y la sostenibilidad, que fortalezca la identidad y el sentido de pertenencia de las comunidades por el territorio.
   div.partReg
      h1 Particularidades subregionales
      ul
        li Crear mecanismos de desarrollo limpio, con captura de CO2 y venta de oxígeno a nivel internacional. 
        li Construir mecanismos de desarrollo limpio para ser gestionados en las diversas escalas territoriales, en un marco de cuentas ambientales que consideran el paisaje como un patrimonio colectivo.
        li Insertar en los diversos planes territoriales el "Pacto por los bosques de Antioquia"
        li Incorporar en los currículos de educación básica, primaria y media el tema ambiental, la biodiversidad y la sostenibilidad del territorio. 
        li Liderar Agendas Ambientales Subregionales participativas, desconcentrando y haciendo más cercanas las Corporaciones Autónomas al ciudadano, para planear, ejecutar y dar soluciones sostenibles y amigables con el medio ambiente, como previsión a los efectos de fenómenos como "la niña", "el niño" y el calentamiento global.  


