h1 Lineamientos específicos
div.linDet
  div Construir acuerdos de articulación con los Departamentos vecinos, que permitan concretar las físicas e históricas relaciones de Antioquia con el Caribe, Eje Cafetero, Chocó, Cuenca del Magdalena y el Altiplano Cundiboyacence; y permitan además, nuevas relaciones con Panamá, Centro América continental e insular y Asia-Pacífico.
    div.partReg
      h1 Particularidades subregionales
      ul
        li Consultar en Oriente procesos como PLANEO, PER, Distrito Agrario, Proyecto Provincia, Asamblea Provincial Constituyente y Consejo Subregional de Competitividad entre otros.
        li En Occidente impulsar una Mesa Territorial, que construya una Agenda Subregional con capacidad para interactuar en otros ámbitos territoriales.
        li En el Valle de Aburrá extender la Tripartita a un diálogo con actores e instancias de las subregiones de Oriente y Occidente.
        li Hacer acuerdos institucionales que fomenten los circuitos turísticos culturales territoriales en las Subregiones y en conexión con las dinámicas globales.
        li Articular los servicios ambientales y la producción limpia en circuitos económicos conectados al mercado global y para los programas de seguridad alimentaria.

  div Coordinar las respuestas institucionales departamentales y supramunicipales frente al gobierno nacional a través de la Comisión Tripartita, el Consejo de Competitividad y los Comités de Ordenamiento Territorial del Departamento.
    div.partReg
      h1 Particularidades subregionales
      ul
        li Las Comisiones de Ordenamiento Territorial del Departamento y de los Municipios se apoyarán para su trabajo en los Consejos Territoriales de Planeación.
        li Oriente, Valle de Aburrá y Occidente realizarán sesiones subregionales con sus Consejos Territoriales de Planeación y sus Comisiones de Ordenamiento, para la producción, seguimiento y actualización a los Planes de Desarrollo y a los POT, a fin de encontrar articulaciones supramunicipales y regionales.

  div Avanzar en convenios y cooperación nacional e Internacional para que Antioquia sea el Departamento líder a nivel Latinoamericano en ciencia, tecnología e innovación, aprovechando las potencialidades de sus territorios.
    div.partReg
      h1 Particularidades subregionales
      ul
        li Crear comisiones de ciencia, tecnología e innovación en Oriente y Occidente, articuladas a las Comisiones de Ciencia y Tecnología departamental y nacional  y a los Consejos de Competitividad.  

