h1 Lineamientos específicos
div.linDet
  div Desarrollar  Sistemas Productivos  Territoriales-SPT- que permitan distribuir los  beneficios,  de  manera que  se  crea  resiliencia  a través  de  la "coopetencia" con  todos  los  actores  del sistema  y  un  diálogo  de manera  sinérgica  con  ellos (grandes  y  pequeños, públicos  y  privados),  para configurar  alianzas público-privadas-comunitarias  basadas en la asociatividad.
  div Configurar  un  sujeto económico  con  capacidad de  negociación  y participación  en  la  riqueza generada  en  la  cadena  de valor. 
  div Consolidar un mercado interno en el que la ventaja competitiva de la región se articule sinérgicamente al mercado global y se fortalezca con la promoción y concreción de un mercado de trabajo decente.
  div Desarrollar el sistema regional de ciencia, tecnología e innovación, de tal manera que se articule a la propuesta de Región Educadora, en donde cada subregión es  un nodo estructurante de doble vía.