h1 Lineamientos específicos
div.linDet
  div Estructurar un sistema educativo regional basado en ciclos propedéuticos, que logre la articulación en los niveles de educación, para obtener titulaciones intermedias desde la formación para el trabajo y el desarrollo humano, hasta la formación posgradual, basadas en el respeto, la confianza, solidaridad y la asociatividad.
   div.partReg
      h1 Particularidades subregionales
      ul
        li Construir los factores de pertinencia con los diferentes actores y sectores de las regiones donde se instalarán los programas, así como una agenda de investigación para la ciencia y la tecnología que esté asociada a los aspectos productivos locales y regionales.
        li Construir los escenarios de educación asociados a los equipamentos y centralidades locales y supramunicipales relacionadas con la producción. 
        li Integrar los Centros de Desarrollo Rural y los Programas Rurales Integrales-PRI, a los equipamentos educativos, de tal manera que se construyan ciudadelas para la educación, la producción, la innovación y la investigación especialmente en Oriente y Occidente.

  div Implementar en el sistema educativo un proceso permanente de formación ciudadana, donde se promueva la cultura de la legalidad, el respeto, la solidaridad, la corresponsabilidad y la asociatividad.
   div.partReg
      h1 Particularidades subregionales
      ul
        li Medellín y los municipios del Area Metropolitana y la región central de Antioquia, deben liderar la discusión mundial en la búsqueda de opciones a la â"Guerra contra las drogas", y sobre el estudio de alternativas para las economías ilegales. 
        li La concepción de seguridad en las agendas regionales, subregionales y locales debe estar asociada a eliminar la cultura del atajo, la trampa y la viveza mal entendida, y romper el ciclo de violencia sobre la base de la cooperación y la eliminación del individualismo.

  div Generar una iniciativa regional de "Comercio Justo y Consumo Responsable", para la adquisición de bienes y servicios que sean socialmente sostenibles y ambientalmente sustentables.
   div.partReg
      h1 Particularidades subregionales
      ul
        li Aprovechar el potencial de Occidente en: producción frutícola, circuitos turísticos regionales, a través del Distrito Agrario del Occidente. En relación a la región de Oriente aprovechar los potenciales hortícolas, turismo agrológico, productos agrícolas de alto valor agregado con producción más limpia y producción apícola.
        li Fortalecer la capacidad productiva, de sostenibilidad ambiental y de conservación del paisaje rural de los productores agropecuarios del Area Metropolitana, como una estrategia de conservación, aumento de la autonomía, seguridad alimentaria y limitación del crecimiento del área urbana. Este fortalecimiento deberá hacerse a través de la creación de Distritos Agrarios en el Area Metropolitana y Parques Agrológicos habitados por comunidades campesinas.

  div Construir el capital social requerido para la implementación de los lineamientos 2030.


