h1 Lineamientos específicos
div.linDet
  div Consolidar las organizaciones de la sociedad civil y la institucionalidad pública Municipal, para asegurar que las brechas entre la planificación estratégica territorial y las agendas sociales, sean mínimas y se acompañen los procesos de desarrollo local, con una institucionalidad capaz de orientarlos a través del tiempo, sobrepasando el ámbito estrictamente municipal. 
  div Garantizar que la planificación del territorio incida en los profundos diferenciales de la renta de la tierra presentes en el territorio de Oriente, Aburrá y Occidente.
  div Promover un proceso de gestión del desarrollo territorial, a través de acuerdos públicos, privados y comunitarios que posibiliten la articulación incluyente de los 26 Municipios.
  div Estructurar POT supramunicipales con un impacto en configuraciones territoriales para la equidad, la sostenibilidad y la inclusión.
  div Propiciar y coadyuvar para la creación e impulso de espacios e instancias de autonomía, descentralización y desconcentración que favorezcan las subregiones, teniendo en cuenta propuestas de autogestión e iniciativas administrativas, planificadoras  y participativas.
