h1 #{title}

p Afiliación Régimen Subsidiado-Contributivo
  br
  a.mapas(href="/images/Mapas/Afiliacion_Regimen_Subsidiado_Contributivo.pdf")
    img(src="/images/Mapas/thumbnail/Afiliacion_Regimen_Subsidiado_Contributivo.png", width=180, heigth=180)

p Densidad Empresarial por Subregiones
  br
  a.mapas(href="/images/Mapas/Densidad_Empresarial_x_Subregiones.pdf")
    img(src="/images/Mapas/thumbnail/Densidad_Empresarial_x_Subregiones.png", width=180, heigth=180)

p Desplazamiento
  br
  a.mapas(href="/images/Mapas/Desplazamiento.pdf")
    img(src="/images/Mapas/thumbnail/Desplazamiento.png", width=180, heigth=180)

p Disponibilidad de Agua potable
  br
  a.mapas(href="/images/Mapas/Disponibilidad_Agua_Potable.pdf")
    img(src="/images/Mapas/thumbnail/Disponibilidad_Agua_Potable.png", width=180, heigth=180)

p Disponibilidad de Servicio de alcantarillado
  br
  a.mapas(href="/images/Mapas/Disponibilidad_Servicio_Alcantarillado.pdf")
    img(src="/images/Mapas/thumbnail/Disponibilidad_Servicio_Alcantarillado.png", width=180, heigth=180)

p Disponibilidad de Servicio de energía
  br
  a.mapas(href="/images/Mapas/Disponibilidad_Servicio_Energia.pdf")
    img(src="/images/Mapas/thumbnail/Disponibilidad_Servicio_Energia.png", width=180, heigth=180)

p Estructura Empresarial por tamaños
  br
  a.mapas(href="/images/Mapas/Estructura_Empresarial_X_Tamanos.pdf")
    img(src="/images/Mapas/thumbnail/Estructura_Empresarial_X_Tamanos.png", width=180, heigth=180)

p Estudiantes Matriculados en Educacio _Superior
  br
  a.mapas(href="/images/Mapas/Estudiantes_Matriculados_Educacion_Superior.pdf")
    img(src="/images/Mapas/thumbnail/Estudiantes_Matriculados_Educacion_Superior.png", width=180, heigth=180)

p Indicadores de Capacidad Fiscal
  br
  a.mapas(href="/images/Mapas/Indicadores_Capacidad_Fiscal.pdf")
    img(src="/images/Mapas/thumbnail/Indicadores_Capacidad_Fiscal.png", width=180, heigth=180)

p Ingresos de Transferencias percapita
  br
  a.mapas(href="/images/Mapas/Ingresos_Transferencias_Percapita.pdf")
    img(src="/images/Mapas/thumbnail/Ingresos_Transferencias_Percapita.png", width=180, heigth=180)

p Situación Actual
  br
  a.mapas(href="/images/Mapas/Situacion_Actual.pdf")
    img(src="/images/Mapas/thumbnail/Situacion_Actual.png", width=180, heigth=180)

p Situacion Deseable
  br
  a.mapas(href="/images/Mapas/Situacion_Deseable.pdf")
    img(src="/images/Mapas/thumbnail/Situacion_Deseable.png", width=180, heigth=180)
