table#l1lesp
  tbody
   tr#l1l1
     td(colspan="2") Consolidar las organizaciones de la sociedad civil y  la institucionalidad pública Municipal, para asegurar que las brechas entre la planificación estratégica territorial y las agendas sociales, sean mínimas y se acompañen los procesos de desarrollo local, con una institucionalidad capaz de orientarlos a través del tiempo, sobrepasando el ámbito estrictamente municipal.
        tr
          td 
            b Acciones
          td 
            b Particularidades subregionales
          tr
          td Propiciar la planificación de agendas regionales para generar condiciones y desarrollar capacidades, buscando convergencia y articulación en el desarrollo territorial.
          td Promover, capacitar y renovar los Consejos Territoriales de Planeación en los Municipios.
        tr
          td 
            ol 
              il 1. Asegurar unos mínimos niveles de inversión municipal en los procesos de consolidación de las organizaciones de la sociedad civil, dándole prioridad a las configuraciones supramunicipales.
              br
              il 2. Coordinar las acciones municipales en el nivel supramunicipal y departamental, a través de la Secretaría de Participación del Departamento, con prelación para  las Asambleas Constituyentes y/o Comunitarias, Asociaciones de Juntas de Acción Comunal-ASOCOMUNALES, las entidades sociales más consolidadas y para  los procesos de organización productiva.
              br
              il 3. Darle prioridad a las actividades de financiamiento y acompañamiento de las organizaciones de la sociedad civil con componentes productivos, especialmente en los municipios que prevalezcan en los Planes Rurales Integrales y en los Fondos de Compensación Regional.
         td Conformar los Sistemas Regionales de Planeación Subregionales, para tener presencia en el Consejo Departamental de Planeación y en el Consejo Nacional de Planeación, vía el Consejo Departamental.
    tr#l2l1
      td(colspan="2") Garantizar que la planificación del territorio incida en los profundos diferenciales de la renta de la tierra presentes en el territorio de Oriente, Aburrá y Occidente.
        tr
          td 
            b Acciones
          td 
            b Particularidades subregionales
        tr
          td 
            ul
              li Retomar para el Estado la capacidad de regular asuntos de la ocupación y el modelo económico deseables como: la sana mezcla de usos de la tierra en el área urbana, los límites a la expansión de la malla urbana, la existencia de una red de ciudades sostenibles, la revaloración de la ruralidad desde una perspectiva de producción sostenible y conservación del paisaje rural, una limitación de la suburbanización descontrolada, y la disponibilidad equitativa de espacio público y servicios sociales.
              li Coordinar la política fiscal regional sobre la base de aumentar la capacidad de gestión autónoma de los municipios y las subregiones.
              li Crear el Instituto de Catastro e Información Territorial para la Equidad, y sobre su base cofinanciar con los municipios y las entidades territoriales y administrativas supramunicipales, un catastro municipal que coordine las acciones de actualización y cobro en el nivel subregional.  
          td 
            ul
              li En Oriente, crear la Comisión Subregional de Ordenamiento Territorial, con base en el Sistema Subregional de Planeación-SRP y con el apoyo técnico de la Gobernación de Antioquia. 
              li En el Valle de Aburrá crear la Comisión Subregional de Ordenamiento Territorial, con referencia a la Secretaria Técnica del Consejo Metropolitano y con el apoyo técnico de la Gobernación de Antioquia. 
              li En Occidente crear la Comisión Subregional de Ordenamiento Territorial, con el apoyo técnico de la Gobernación de Antioquia.
              li En el caso fiscal de Occidente, mejorar la capacidad extractiva de los municipios, de manera que compartan los beneficios de la mayor actividad inmobiliaria y de los servicios turísticos, para mejorar las condiciones de vida de la población local, que se ha visto segregada espacialmente por las fincas de recreo.
              li En el caso fiscal de Oriente, mejorar la capacidad extractiva de los municipios y volcarla a las políticas sociales y al mejoramiento de las capacidades de planificación y gestión del territorio, para generar efectivos controles a la actividad inmobiliaria desordenada.
              li En el caso fiscal del Valle de Aburrá, los municipios deberían discutir, en sus Concejos Municipales, la posibilidad de transferir parte de su recaudo de impuesto predial al Área Metropolitana, como una acción relacionada con la posibilidad de construir bancos de tierras y realizar labores de compensación interregional e intra regional. 
    tr#l3l1
      td(colspan="2") Promover un proceso de gestión del desarrollo territorial, a través de acuerdos públicos, privados y comunitarios que posibiliten la articulación incluyente de los 26 Municipios.
        tr
          td 
            b Acciones
          td 
            b Particularidades subregionales
        tr
          td Diseñar y ejecutar obras de infraestructura, para la integración, la comunicación y la competitividad subregional y departamental.
          td Diseñar agendas público-privadas y comunitarias subregionales. 
    tr#l4l1
      td(colspan="2") Estructurar POT supramunicipales con un impacto en configuraciones territoriales para la equidad, la sostenibilidad y la inclusión.
        tr
          td 
            b Acciones
          td 
            b Particularidades subregionales
        tr
          td 
            ul
              li Construir los POT, de manera concertada entre las comisiones de Ordenamiento Territorial de municipios y el Departamento de Antioquia, para que dialogue estrechamente con la Ley de Víctimas y la Ley de Restitución de Tierras, así como, con la priorización de proyectos en el marco de la Reforma de las RRegalías. 
              li Incluir un capítulo de articulación en los Planes de Ordenamiento Territorial de 2012, que incluya: 1. Relaciones supramunicipales con las zonas y subregión a la que se pertenece. 2. Relación con el Departamento de Antioquia  y las centralidades subregionales y funcionalidades con otras centralidades de otras subregiones o departamentos. 3. Relación con otros departamentos y países, en función de la ubicación estratégica en el Departamento. 
          td Gestionar ante instancias subregionales y Departamentales la elaboración de POT articulados, de alcance supramunicipal, con significación  territorial que el Departamento defina con las comunidades. 
    tr#l5l1
      td(colspan="2") Propiciar y coadyuvar para la creación e impulso de espacios e instancias de autonomía, descentralización y desconcentración que favorezcan las subregiones, teniendo en cuenta  propuestas de autogestión e iniciativas administrativas, planificadoras  y participativas.
        tr
          td 
            b Acciones
          td 
            b Particularidades subregionales
        tr
          td 
            ul
              li Garantizar que el modelo de gestión de las instituciones públicas supraregionales, se construya haciendo funcionales los centros subregionales. Ofrecer de manera descentralizada los servicios a los ciudadanos, a través de los centros subregionales; minimizar la movilización al centro del Departamento garantizando los derechos de la ciudadanía.
              li Con apoyo en las herramientas jurídicas y políticas, potenciar asociaciones territoriales que reconfiguren la región en función de la equidad y la inclusión.
              li Garantizar el principio de equilibrio territorial en los organismos de toma de decisiones en las entidades administrativas territoriales de carácter supramunicipal.
          td 
            ul
              li Reconocer las diferentes estrategias de configuración subregional en proceso en las subregiones de estudio, para potenciar a partir de allí las articulaciones que requiere el modelo de desarrollo propuesto, apoyándose en los planes y propuestas realizadas.
              li Implementar los Centros Subregionales de Servicios a la Ciudadanía, basados en las condiciones y necesidades particulares de los diferentes territorios que hacen parte del mismo.

                  table#l1lesp
                    tbody
                      tr
                        td#l1l2(colspan="2") Desarrollar  Sistemas Productivos  Territoriales-SPT- que permitan distribuir los  beneficios,  de  manera que  se  crea  resiliencia  a través  de  la  \"coopetencia\" con  todos  los  actores  del sistema  y  un  diálogo  de manera  sinérgica  con  ellos (grandes  y  pequeños, públicos  y  privados),  para configurar  alianzas público-privadas-comunitarias  basadas en la asociatividad.
                          tr
                            td 
                              b Acciones
                            td 
                              b Particularidades subregionales
                          tr
                            td 
                              ul
                                li Diseñar  un  plan  de  infraestructura  de  soporte para la implementación del Sistema Productivo Territorial-SPT,  lo cual implica  identificar  la  Infraestructura  de  soporte  existente  y  la requerida. 
                                li Mapear  Instituciones de apoyo e  identificar  las requeridas para la  potenciación  del  SPT.  Establecer  políticas  económicas territoriales  para  la  competitividad,  con  base  en  la  equidad social y la cooperación.
                                li Implementar  un  sistema  de  seguimiento  de  indicadores  de competitividad y equidad.  
                                li Complementar  las  políticas  de  clúster  y  emprendimientos productivos,  reconfigurando  sus  lógicas  hacia  Sistemas Productivos  Territoriales,  sobre  la  base  de  la  asociatividad empresarial y comunitaria.
                                li Identificar las asimetrías existentes entre empresas y territorios, para transformar en positivo su lugar, en la apropiación de valor generado en el sistema.
                                li Configurar un sistema de solidaridad  territorial dirigido por una alianza entre actores públicos, privados y sociales del territorio.
                                li Identificar,  potencializar  y  articular  las  ventajas  competitivas  y comparativas  de  cada  territorio  municipal  y  supramunicipal; ventajas que se fundamentan en la diversificación, más que en la especialización, asociada a políticas de innovación, ciencia y tecnología.
                                li Aprovechar  la  alta  calidad  de  los  servicios  públicos  con  que cuenta  la  región,  como  base  estructurante  del  Sistema Productivo  Territorial-SPT,  y  que  además  se  difunda  a  los territorios que hoy no cuentan plenamente con estos beneficios.
                            td
                              ul
                                li Consolidar  una  alianza  territorial  -Oriente,  Valle  de Aburrá, Occidente-  para  posicionar  el  turismo  como estrategia  económica  que  empodera  territorios  y comunidades,  propendiendo  porque  los  nodos jalonadores sean Occidente y Oriente.
                                li Articular  y  potenciar  las  propuestas  de  Distritos Agrarios, existentes en algunos de los corregimientos de  Medellín  y  el  Distrito  Agrario  del  Oriente. Entendido éste como un sistema productivo territorial para  la  innovación,  donde  el  territorio  es  un  lugar para la vida y articula sinergias para que producción, distribución  y  consumo,  se  configuren  sobre  una base  de  riqueza,  equidad  y  solidaridad  y  relaciones de doble vía rural-urbano.
                                li Realizar  un  balance  del  impacto  de  la  política  de clúster  de  la  ciudad  de  Medellín,  identificando estructuras de poder, alcance regional y global en su configuración, retos para la democracia económica y territorial. De  este balance  se  puede  desprender  un rediseño  de  la  política,  para  ser  discutida  con  los diversos actores; a partir de entonces, se validará y se le hará seguimiento. 
                      tr
                        td#l2l2(colspan="2") Configurar  un  sujeto económico  con  capacidad de  negociación  y participación  en  la  riqueza generada  en  la  cadena  de valor.
                      tr
                        td#l3l2(colspan="2") Consolidar un mercado interno en el que la ventaja competitiva de la región se articule sinérgicamente al mercado global y se fortalezca con la promoción y concreción de un mercado de trabajo decente.
                      tr
                        td#l4l2(colspan="2") Desarrollar  el   sistema regional  de  ciencia, tecnología  e  innovación,  de tal manera que se articule a la  propuesta  de  Región Educadora,  en  donde  cada subregión  es  un  nodo estructurante  de doble vía.
