html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, header
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  vertical-align baseline

body
  font 90%/1.5  Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif
  background-image url(/images/patternAzul.png)

.container
  margin 0 auto
  width 974px

.header
  background-image url(/images/patternVerde.png)

.header img
  padding-top 30px

.navigation
  float left
  width 100%
  background-image url(/images/patternNaranja.png)

.navigation
  ul
    margin 0
    padding 0

.navigation
  ul li
    list-style-type none
    display inline

.navigation
  li a
    display block
    float left
    padding 5px 10px
    color #fff
    text-decoration none
    border-right 1px solid #fff

.navigation
  li a:hover
    background #537b3f

.content-container1
  float left
  width 100%
  background #fff
  text-align justify

.content-container2
  float left
  width 100%
  background #fff
  text-align justify

.section-navigation
  margin-left auto
  margin-right auto
  float left
  width 16%
  padding 20px 0
  margin 0 2%
  display table-cell
  background-image url(/images/patternAzul.png)

.section-navigation
  ul
    display table-cell
    margin 0
    padding 0

.section-navigation
  ul li
    display block
    margin 0 0 1em
    padding 0
    list-style-type none

.section-navigation
  li a
    display block
    float left
    padding 5px 10px
    color #fff
    text-decoration none
    border-right 1px solid 0

.section-navigation 
  li a:hover
    background #537b3f

.content
  float left
  width 54%
  padding 20px 0
  margin 0 0 0 2%

.content
  h2
    margin 0 

.aside
  float right
  width 19%
  padding 1%
  margin 0 0 0 1%
  display inline
  background-image url(/images/patternVerde.png)
  color #fff

.footer
  clear both
  padding-top 10px
  text-align right

a img
  float left

.docs
  display block

p.mapas
  width 190px
  height 250px
  text-align center
  float left
  .mapas
    a
      img
        display block
        
a.grouped_elements
  img
    margin 1px


.item-1
  background-color: #22BEBE
  .name
    background-color: #22BEBE

.item-2
  background-color: #FF4040
  .name
    background-color: #FF4040

.item-3
  background-color: #8144D6
  .name
    background-color: #8144D6

.item-4
  background-color: #59EA3A
  .name
    background-color: #59EA3A

.item-5
  background-color: #4284D3
  .name
    background-color: #4284D3

.item-6
  background-color: #FFC140
  .name
    background-color: #FFC140

header
  height: 5%
  float: left
  width: 100%
  background-color: #666
  color: white
  position: absolute
  top: 0

.timelines-list
  position: relative
  top: 5%
  width: 100%
  overflow: hidden
  height: 94%
  ul
    margin: 0
    padding: 0
    height: 30%
  .timeline-item
    display: block
    border: 1px solid #AAA
    padding: 15px
    width: 15000px
    p.name
      font-size: 12px
      padding: 3px 10px
      corner(4px)
      color: white
    div.event
      box-shadow: 0px 0px 6px #505050;
      display: inline-table
      corner(4px)
      margin: 3px
      padding: 5px
      background-color: PaleTurquoise
      

.timelines-control
  position: absolute
  bottom: 0px
  width: 100%
  height: 3%
  background-color: #666
  ul
    float: left
    color: white
    width: 100%
  li
    float: left
    padding-left: 10px
    padding-right: 10px

.span-control
  position: absolute
  height: 98%
  width: 20%
  border: 2px solid black
  background: transparent
  